{
    auto_https disable_redirects
    servers {
        protocols h3
    }
}

:59823 {
    tls cert.pem key.pem
    encode gzip 

    route {
        handle_path /demo/upload {
            reverse_proxy localhost:5000
        }
    }
}

